html{
	background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");
	
}

fin1{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}
fin2{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}

fin3{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}

fin4{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}

fin5{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}

fin6{
    background-image : url("https://freepngimg.com/download/cherry/34970-4-cherry-fruit-image.png");

}




